body {
  width: 200px;
  height: 200px;
  background-color: royalblue ;
  display: flex;
  justify-content: center;
}

p {
  display: inner-flex;
  margin: 10px 10px;
  font-size: 22px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  background-color: lightblue;
  font-weight: bolder;
  font-family: Arial;
  border: 1px;
}